/*
   global.css
   gorilla
   
   Created by Julius Mattsson on 2011-04-07.
   Copyright 2011 Smile Machine Ltd. All rights reserved.
*/

/* Reset */ 
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}body {line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/* Ends Reset */

/* Global */
body { background: url('../images/mainbg.png') #f0ecdd repeat; font: 15px/20px 'Oswald', 'Univers LT Std', 'Helvetica Neue', Arial, sans-serif; margin-bottom: 20px; }
a { color: #bd1815; text-decoration: none; }
a:hover { color: #000; }
.h1, h1 { color: #bd1815; font-weight: normal; text-transform: uppercase; font-size: 15px; margin-bottom: 12px; font-family: 'Oswald', Arial, sans-serif; }
.h2, h2 { color: #000; font-weight: normal; text-transform: uppercase; font-size: 15px; font-family: 'Oswald', sans-serif; }
small { font-size: 10px; text-transform: uppercase; color: #666;}
#wrapper { background: url('../images/wrapperbg.png') repeat-y; width: 1134px;  margin: 0 auto; position: relative; }
#container { margin-left: 4px; background: url('../images/bottombg.png') bottom right no-repeat; min-height: 836px; width: 1144px; z-index: 20; }
header { height: 150px; display: block; margin-bottom: 70px; }
#mainLogo { position: absolute; top: 20px; left: 30px; display: block; background: url('../images/logo.png') left top no-repeat; width: 455px; height: 125px; text-indent: -9999px; }
#collective { position: absolute; top: 0; right: 85px; width: 152px; height: 132px; background: url('../images/collective.png'); text-indent: -9999px; }
.clear { clear: both; height: 0;}
.hide { display: none; }
/* Ends Global */

/* Main Nav */
#mainNav { float: left; top: 240px; left: 50px; margin: 0 20px 40px 40px; width: 142px; overflow: hidden; text-transform: uppercase; }
body.blog #mainNav, body.archive #mainNav, body.page-template-default #mainNav, body.single #mainNav { margin-right: 0; }
#mainNav > ul > li > a {  background: url('../images/navbg.png') left top no-repeat; margin-bottom: 5px; padding: 0 0 0 15px; display: block; line-height: 28px; min-height: 28px; }
#mainNav .current_page_ancestor > a, #mainNav .current_page_parent > a, #mainNav .current_page_item > a { color: #000; }
#mainNav .children { margin: -7px 0 0 5px; width: 131px; overflow: hidden; border-left: 1px solid #d1cfc5; border-right: 1px solid #d1cfc5; display: none; }
body.page-template-video-php #mainNav .current_page_ancestor .children, body.page-template-editor-php #mainNav .current_page_ancestor .children, body.page-template-vfx-php #mainNav .current_page_ancestor .children { display: block; }
#mainNav .children li { background: #f9f9f6; }
#mainNav .children li a { display: block; padding: 4px 8px; }
#mainNav .children li.current_page_item a { }
#mainNav .children li.page-item-40 { border-bottom: 1px solid #e0e0d3; }
/* Ends Main Nav */

/* Video Nav */
#videoNav { width: 820px; position: absolute; }
#videoNav .categories { margin-bottom: 25px; margin-top: 45px; height: 30px; display: block;}
#videoNav .categories li { float: left; }
#videoNav .categories li a { display: block; padding: 0 10px; background: #f0f0d4; font-size: 12px; text-transform: uppercase; border-right: 1px solid #fff; line-height: 28px; }
#videoNav .categories li:last-child a { display: block; padding: 0 10px; background: #f0f0d4; font-size: 12px; text-transform: uppercase; border-right: 0px; line-height: 28px; }
#videoNav .categories li.ui-state-active a { background: #d5d0ab; color: #000; }
#videoNav .thumbs { clear: both; }
#videoNav .thumbs img { display: block; }
#videoNav .thumbs a { float: left; margin-right: 5px; display: block; height: 60px; height: 44px; overflow: hidden; box-shadow: 0px 2px 3px #17160b; background: #000;}
#videoNav .thumbs a img { opacity: 1; }
#videoNav:hover .thumbs a img { opacity: 0.5; 
	   -moz-transition: all 0.2s ease-out;  /* FF4+ */
	     -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
	-webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
	    -ms-transition: all 0.2s ease-out;  /* IE10? */
	        transition: all 0.2s ease-out;
}
#videoNav .thumbs a span { display: block; position: absolute; opacity: 0; background: url('../images/videonav-hover.png') top left no-repeat; height: 25px; padding: 9px 10px 3px; line-height: 28px; color: #bd1815; font-size: 12px; font-family: Arial, sans-serif; 
   -moz-transition: all 0.2s ease-out;  /* FF4+ */
     -o-transition: all 0.2s ease-out;  /* Opera 10.5+ */
-webkit-transition: all 0.2s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.2s ease-out;  /* IE10? */
        transition: all 0.2s ease-out; 
}
#videoNav .thumbs a:hover img { opacity: 1; }
#videoNav .thumbs a:hover span { opacity: 1; margin-top: -3px; height: 28px; }
#videoNav .thumbs a.active { box-shadow: 0px 0px 5px #C1C17B; border: 1px solid #C1C17B; margin-top: -1px;}
#videoNav .thumbs a.active img { opacity: 1; }

.ui-tabs-hide { display: none; }
/* Ends Video Nav */

/* Slideshow */
.slideshow { background: #000; }
.slide-container { width: 640px; box-shadow: 0 10px 5px -5px #212016, 0 0 2px 2px #413E2A, 0 0 70px 0px #C1C17B; -webkit-box-shadow: 0 0 90px 4px #C1C17B; }
.slide-container img { display: block; }
/* Ends Slideshow */

#mainContent { float: left; margin-bottom: 120px; }
#scroller { overflow: auto; height: 100%; }
.contentArea { width: 595px; height: 388px; overflow: auto; background: url('../images/contentarea-bg.png') -14px -18px repeat; padding: 40px;  font-size: 14px; font-family: 'Oswald', Arial, sans-serif; margin-top: -16px;}
.contentArea p { margin-bottom: 10px; }
body.page-template-landingpage-php { background: #fff; min-height: 100%; }
body.page-template-landingpage-php a { width: 952px; height: 360px; position:absolute; top: 50%; left: 50%; margin-left: -476px; margin-top: -180px; }
body.page .contentArea { text-align: justify;}
.aligncenter { margin: 0 auto; }
.linkarea { width: 560px; margin-bottom: 22px; clear: both; }
.linkleft { float: left; width: 200px; margin-bottom: 22px; }
.linkright { float: right; width: 355px; margin-bottom: 22px; }

/* Videoplayer */
.videoplayer { background: #000; box-shadow: 0 10px 5px -5px #212016, 0 0 2px 2px #413E2A, 0 0 70px 0px #C1C17B; -webkit-box-shadow: 0 0 90px 4px #C1C17B; }
.videoplayer * { display: block; }
#videobig * { display: block; }
/* Ends Videoplayer */

/* Side */
#sidebox { background: url('../images/sideboxbg.png') -10px 0px no-repeat; width: 192px; height: 265px; display: block; float: right; margin-top: -23px; margin-right: 32px; padding: 35px 30px; }

.videoPanelSideBox { font-family: 'Oswald', Arial, sans-serif; font-size: 12px; text-transform: uppercase; }
.videoPanelSideBox h2 { margin-bottom: 0; font-size: 18px; }
.videoPanelSideBox h1 { font-weight: normal; color: #2e2c1b; display: block; margin-top: 10px; margin-bottom: 0px;}
.videoPanelSideBox strong { font-weight: normal; }
.videoPanelSideBox dl { word-wrap: break-word; margin-top: 20px; overflow: hidden; }
.videoPanelSideBox dt { float: left; width: 55px; padding-right: 5px; }
.videoPanelSideBox dd { float: left; width: 120px; }
#videolightbox { clear: both; margin-top: 20px; text-transform: uppercase; display: block; padding-left: 50px; line-height: 31px; color: #bd1815; background: url('../images/btn-play.gif') #d5d0ab 10px 8px no-repeat;}
#videolightbox:hover { background-position: 10px -26px; color: #000;}
.tweet { font-size: 11px; font-family: Arial, sans-serif; height: 145px; overflow: hidden; }
.tweet .tweet_time { display: none; }
.tweet li { margin-bottom: 8px; line-height: 18px; }
.social { margin-top: 18px; font-weight: normal; color: #bd1815; }
.socialicons { margin-top: 6px; }

.videoPanelSideBox #spread { margin-top: 20px; }
/* Ends Side */


/*#tweet{
    font-family: Arial,sans-serif;
    font-size: 11px;
    height: 145px;
    overflow: hidden;
}*/

/* Posts */
.postArea h1 { margin: 0; }
.postArea small { margin-bottom: 10px; display: block; }
.postArea .post { margin-bottom: 20px; padding-bottom: 5px; border-bottom: 1px dotted #ccc; }
body.single-post .postArea .post { border-bottom: none; padding-bottom: 0; }
.nav a { height: 20px; line-height: 20px; }
.nav-previous a { padding-left: 18px; background: url('../images/nav-previous.gif') top left no-repeat; float: left; }
.nav-previous a:hover { background-position: bottom left; }
.nav-next a { padding-right: 18px; background: url('../images/nav-next.gif') top right no-repeat; float: right; }
.nav-next a:hover { background-position: bottom right;}
/* Ends Posts */ 

/* Pages */
.contactitem { overflow: hidden; margin: 10px 0; }
.contactitem strong { float: left;  color: #BD1815; font-weight: normal; font-size: 18px; text-transform: uppercase; display: block; width: 180px;}
.contactitem .phone { float: left; width: 180px; }
.about { letter-spacing: -0.03em; }
.about p { margin-bottom: 20px; }
/* Ends Pages */

/* Footer */
footer { position: absolute; bottom: 20px; background: url('../images/footerbg.png') left top no-repeat; height: 30px; line-height: 30px; width: 630px; color: #fff; padding: 0 12px 20px; margin-left: 40px; text-transform: uppercase; font-size: 12px; display: block; }
/* Ends Footer */
