/*
   ie7.css
   gorilla
   
   Created by Julius Mattsson on 2011-04-07.
   Copyright 2011 Smile Machine Ltd. All rights reserved.
*/


footer { line-height: 28px;}
#videoNav .thumbs a { filter: alpha(opacity = 60); }
#videoNav .thumbs a span { display: none; }
#videoNav .thumbs a.active { filter: alpha(opacity = 100); }