/*
   ie8.css
   gorilla
   
   Created by Julius Mattsson on 2011-04-13.
   Copyright 2011 Smile Machine Ltd. All rights reserved.
*/


footer { line-height: 28px;}
#videoNav .thumbs a { filter: alpha(opacity = 60); }
#videoNav .thumbs a span { padding-top: 10px; filter: alpha(opacity = 0);}
#videoNav .thumbs a:hover { filter: alpha(opacity = 100); }
#videoNav .thumbs a:hover span { line-height: 25px; filter: alpha(opacity = 100);}
#videoNav .thumbs a.active { filter: alpha(opacity = 100); }